#wp_smart_feed_admin {
    font-size: 1.5em;
}

#wp_smart_feed_admin form div * {
    display: block;
}

#wp_smart_feed_admin .form-field {
    display: flex;
    flex-direction: column;
}

#wp_smart_feed_admin .label-container {
    position: relative;
    display: flex;
    align-items: center;
}

#wp_smart_feed_admin label {
    margin-bottom: 10px;
}

#wp_smart_feed_admin input {
    width: 40%;
    font-size: 0.75em;
    margin: 10px 0px;
}

#wp_smart_feed_admin button {
    background-color: #9ecd16;
    border: none;
    padding: 5px 20px ;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

#wp_smart_feed_admin #rectron input {
    margin: 20px 0px;
}

#wp_smart_feed_admin ol {
    font-size: 0.75em;
}




