#main-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}



#wp_smart_feed_admin {
    font-size: 1.5em;
}

#wp_smart_feed_admin form {
    width: 40%;
}

#wp_smart_feed_admin .form-field {
    display: flex;
    flex-direction: column;
}

#wp_smart_feed_admin .label-container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;
}


#wp_smart_feed_admin input:not(input[type="number"]), #wp_smart_feed_admin select {
    width: 100%;
    max-width: 100%;
    font-size: 0.75em;
    margin: 10px 0px;
}

#wp_smart_feed_admin button:not(#add-dynamic-rules button) {
    background-color: #21759b;
    max-width: 100%;
    height: 30px;
    font-size: 0.9em;
    color: white;
    border: none;
    padding: 0px 20px ;
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
}

#woocommerce-help-container {
    display: flex;
    position: relative;
}


#wp_smart_feed_admin .help {
    cursor: pointer;
}


#wp_smart_feed_admin .help img {
    width: 20px;
    aspect-ratio: 1/1;
}

#wp_smart_feed_admin .help .info  {
    font-size: 0.75em;
    position: absolute;
    display: none;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    top: 0px;
}

#wp_smart_feed_admin .help:hover .info {
    display: block;
}

#add-dynamic-rules {
    display: flex;
    align-items: center;
    width: 100%;
}

#add-dynamic-rules select {
    width: 70%;
}

#add-dynamic-rules button {
    background-color: #21759b;
    width: 20%;
    font-size: 0.9em;
    margin-left: auto;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#wp_smart_feed_admin input[type="number"]{
    width: 100px;
}

#dynamic-rule-section {
    width: 40%;
}

.dynamic-rule {
    margin: 10px;
    /* border: 2px solid #21759b; */
    color: black;
    font-weight: 400;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    font-size: 0.9em;
    background-color: rgb(211, 211, 211);
}

#ruleset-save-container button {
    display: inline-block;
    margin: auto;
}







