#smt-products-filter {
    display: flex;
    width: fit-content;
    margin: 2rem auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}


tr:nth-child(even){
    background-color: rgb(199, 199, 199);
}

#smt-head {
    background-color: #21759b;
    color: white;
    height: 50px;
    font-size: 1.5em;
}

td {
    padding: 5px;
}

.name, #name {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.smt-body td input {
    display: inline-block;
    margin: auto;
}

.smt-body {
    text-align: center;
}

/* .smt-body {
    display: flex;
} */

/* .smt-body td:nth-child(1){

}

.smt-body td:nth-child(1){

}

.smt-body td:nth-child(1){

}

.smt-body td:nth-child(1){

}

.smt-body td:nth-child(1){

}

.smt-body td:nth-child(1){

}

.smt-body td:nth-child(1){

}

.smt-body td:nth-child(1){

}

.smt-body td:nth-child(1){

} */